<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping resource="entities/CategoriesEntity.hbm.xml"/>
        <mapping resource="entities/CommentEntity.hbm.xml"/>
        <mapping resource="entities/DublicatereportsEntity.hbm.xml"/>
        <mapping resource="entities/LoginEntity.hbm.xml"/>
        <mapping resource="entities/MissioncategoriesEntity.hbm.xml"/>
        <mapping resource="entities/MissionsEntity.hbm.xml"/>
        <mapping resource="entities/ReportcategoriesEntity.hbm.xml"/>
        <mapping resource="entities/ReportsEntity.hbm.xml"/>
        <mapping resource="entities/UsersEntity.hbm.xml"/>
        <mapping resource="entities/UsersHasReportsEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>